{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "alias": {
          "game": "./src/game",
          "utils": "./src/utils",
          "variables": "./src/variables",
        },
      },
    ],
  ],
}
